# weave-cli-private/docker/.env.example

# Chain configuration
CHAIN_ID=fhish-1
EVM_CHAIN_ID=1274840431040713
MONIKER=fhish-node
GAS_DENOM=uinit

# Deployer / operator key
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# FHE secrets
FHISH_RELAYER_SECRET=fhish-test-secret
